@font-face {
    font-family: iran;
    src: url(font/iran.ttf);
}





*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    direction: rtl;

}
a{text-decoration: none;}

body{
    font-family: iran;
    font-size: 15px;
    background-color: blueviolet;
}

.container{
    width: 90%;
    height: 100%;
    margin:  40px auto;
    border-radius: 30px;
    display: flex;
    
    
 
}
.panel{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.image{
    width: 50%;
                       
}

.image img{
    width: 100%;
}

.panel p{
    font-size: 2vh;
    margin-top: 15px;
    margin-right: 15px;
    color: white;

}
.panel a{
    color: gold;
}

.panel h1{
    margin-top: 15px;
    color: yellow;
    margin-right: 15px;
}

.username{
    margin: 15px 15px;
}

input{
    padding: 10px;
    border-radius: 20px;

}

.password{
    margin: 15px 15px;
}

